<article>
    <section class="about-text">
        <p>
            At Vensangu Photography we love to celebrate our photography as art work. We hope we reflect our passion and
            love for photography in your pictures as well.
        </p>
    </section>
    <section class="contactus">
        <fieldset class="contact-container">
            <legend>Contact us for any question</legend>
            <h4>Email</h4>
            <a href="{{mailId}}">saravanandss@gmail.com</a>
            <h4>Phone</h4>
            <a href="{{phone}}">860-920-2363</a>
        </fieldset>
    </section>
</article>