<div>
    <fieldset class="float-left">
        <legend>Who are we?</legend>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
    </fieldset>
</div>
<div>
    <fieldset class="float-right">
        <legend>What we do?</legend>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
    </fieldset>
</div>
<div>
    <fieldset class="float-left">
        <legend>Hours of work</legend>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
    </fieldset>
</div>
<div>
    <fieldset class="float-right">
        <legend>Pricing</legend>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
        <p>adfbouasdfn asofjasdlfoi asknfdsaiou asdkfnaf </p>
    </fieldset>
</div>