
<div class="image-para">
    <img/>
    <p>
        At Vensangu Photography we love to celebrate our photography as art work. We hope we reflect our passion and love for photography in your pictures too.
    </p>
</div>

<aside>
    <fieldset class="contact-container">
        <legend>Contact us for any question</legend>
        <fieldset class="contact-detail">
            <legend>Email</legend>
            <a href="{{mailId}}">saravanandss@gmail.com</a>
        </fieldset>
        <fieldset class="contact-detail">
            <legend>Phone</legend>
            <a href="{{phone}}">860-920-2363</a>
        </fieldset>
    </fieldset>    
</aside>