# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# .net specific
bin/
obj/
.vs/
*.log

packages/

--- BEGIN LICENSE KEY ---
T8kbf-jWSsunHxefmC91s-UR0lMk-7s2bYhlC7ely50whICsk7dbY7RVi
zf0ySGTCQiJ-TRZY8FjGBZcqMgDUQ4hebhzY9lrZAQLMVOLtap4fAwNAC
GJeBIu09Bgme2N+17zfU4fFsYLvQm8qLcj5fQm-e88BdUvRm0KOor+gYV
gpwDG1MkX-9SMKEKMKlU7gHZHE4RycNmUVd0NyOPLeaGhlIKs0Qacf8-8
mP7BoOIAi+YNEWaQYikJi0lxWa5yuIRyFbnafZ9uf1yGkOC4RvMmwCGGw
JnUqnYhPB-PFy-oSkjbLVFpSwhbMuBMbxSbe5IXHfzysl3wmkejvYVo4+
--- END LICENSE KEY -----