.title {
    font-size: 2em;
    text-align: center;
}

.top-frame {
    display: grid;
    grid: auto / 70% 30%;
}

nav {
    text-align: right;
    padding: 20px;
    a {
        padding: 5px 10px;
        text-decoration: none;
        display: inline-block;

        .regular {
            color: #38383b;
        }
        .active {
            color: #a8383b;
        }
    }
}
