.image-container {
  display: flex;
  flex-direction: column;
}

.grid {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 992px) and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 1200px) and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

article{
  margin: auto;
}